.quick_template .bgdpr-view .line {
  position: relative;
}

.quick_template .bgdpr-view .line-accept {
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
  right: 0.3rem;
  top: 0.3rem;
  border: 1px solid #ffc800;
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: #ffc800 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.quick_template .bgdpr-view .line-accept .enable {
  height: 0;
  transition: height 0.5s cubic-bezier(0.5, 0, 0, 1);
}

body.bgdpr-detail .quick_template .bgdpr-view .line {
  min-height: calc(2.5rem + .7rem);
  padding-right: calc(2.5rem + 1.1rem);
}

body.bgdpr-detail .quick_template .bgdpr-view .line-content {
  padding-right: 3rem;
}

body.bgdpr-detail .quick_template .bgdpr-view .line .title {
  transform-origin: bottom left;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
}

body.bgdpr-detail .quick_template .bgdpr-view .line-accept {
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
  right: 0.3rem;
  top: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #ffc800;
  position: absolute;
  transition: #ffc800 0.5s cubic-bezier(0.5, 0, 0, 1);
}

body.bgdpr-detail .quick_template .bgdpr-view .line-accept .enable {
  transition: height 0.5s cubic-bezier(0.5, 0, 0, 1);
}

body.bgdpr-detail .quick_template .bgdpr-view .line:hover .line-accept {
  transform: scale(1.2);
}

body:not(.bgdpr-detail) .quick_template .bgdpr-view .line {
  display: flex;
  flex-direction: row-reverse;
}

body:not(.bgdpr-detail) .quick_template .bgdpr-view .line-accept {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.2rem 0.7rem;
}

@media screen and (max-width: 800px) {
  body:not(.bgdpr-detail) .quick_template .bgdpr-view .line-accept {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.7rem;
  }
}

.quick_template .mandatory-mention {
  font-style: italic;
  font-size: 1rem;
  color: #646464;
}

.quick_template [data-bgdpr-group][data-bgdpr-status="1"] .line-accept,
.quick_template [data-bgdpr-service][data-bgdpr-status="1"] .line-accept {
  background: #ffc800;
}

.quick_template [data-bgdpr-group][data-bgdpr-status="1"] .enable,
.quick_template [data-bgdpr-service][data-bgdpr-status="1"] .enable {
  height: 2rem;
}

.bgdpr-persistent {
  display: block;
  background: #ffc800;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 99999;
  border-radius: 6rem 0 0 0;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 0;
  opacity: 0;
  box-shadow: 0 0 0rem 0rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: width cubic-bezier(0, 0.8, 0, 1) 0.8s ,  height cubic-bezier(0, 0.8, 0, 1) 0.8s ,  opacity cubic-bezier(0, 0.8, 0, 1) 0.8s ,  box-shadow cubic-bezier(0, 0.8, 0, 1) 0.8s;
  transition-delay: 1s;
  overflow: hidden;
}

.bgdpr-persistent:hover,
.bgdpr-on .bgdpr-persistent {
  transition-delay: 0s;
  opacity: 1;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
}

.bgdpr-persistent:hover .bgdpr-persistent-logo,
.bgdpr-on .bgdpr-persistent .bgdpr-persistent-logo {
  transition-delay: 0s;
  right: 0.5rem;
  bottom: 0.5rem;
}

.bgdpr-on .bgdpr-persistent {
  transition-delay: 0s;
}

.bgdpr-persistent-logo {
  height: 2.5rem;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  transition: right cubic-bezier(0, 0.8, 0, 1) 0.8s ,  bottom cubic-bezier(0, 0.8, 0, 1) 0.8s;
  transition-delay: 1s;
}

.bgdpr-persistent-logo path {
  fill: black;
}

.bgdpr-placeholder button,
.bgdpr-view button {
  color: black;
  border: 1px solid #ffc800;
  padding: 0.5rem 1rem;
  outline: none;
  background: none;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0 0 0rem 0rem rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: background cubic-bezier(0, 0.8, 0, 1) 0.8s ,  color cubic-bezier(0, 0.8, 0, 1) 0.8s ,  box-shadow cubic-bezier(0, 0.8, 0, 1) 0.8s ,  transform cubic-bezier(0, 0.8, 0, 1) 0.8s;
}

.bgdpr-placeholder button:hover,
.bgdpr-view button:hover {
  background: #ffc800;
  color: black;
  box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: background cubic-bezier(0, 0.8, 0, 1) 0.8s ,  color cubic-bezier(0, 0.8, 0, 1) 0.8s ,  box-shadow cubic-bezier(0, 0.8, 0, 1) 0.8s ,  transform cubic-bezier(0, 0.8, 0, 1) 0.8s;
}

.quick_template .bgdpr-view-detail .quick_template .bgdpr-view-detail-save,
.quick_template .bgdpr-view-quick [data-bgdpr-all-enable=accept_all] {
  background: #ffc800;
  color: black;
  font-size: 1rem;
}

.quick_template .bgdpr-view-detail .quick_template .bgdpr-view-detail-save:hover,
.quick_template .bgdpr-view-quick [data-bgdpr-all-enable=accept_all]:hover {
  color: black;
}

.bgdpr-view .mandatory button {
  display: none;
}

.bgdpr-view-service {
  transition: background 0.3s ease;
}

.bgdpr-view-service-name {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.quick_template .bgdpr-view-group-services {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
}

.quick_template .bgdpr-view-group-services .line-content .title {
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .quick_template .bgdpr-view-group-services .line-content .title {
    font-size: 0.2rem;
  }
}

.quick_template .bgdpr-view-group-services .line-content .description,
.quick_template .bgdpr-view-group-services .line-content .doc {
  font-size: 0.9rem;
}

.bgdpr-detail .quick_template .bgdpr-view-group-services {
  opacity: 1;
  height: auto;
  transition-delay: 0.3s;
  display: block;
}

.quick_template .bgdpr-view a {
  color: #646464;
}

.quick_template .bgdpr-view a:hover {
  text-decoration: none;
}

.quick_template .bgdpr-view-wrapper {
  position: fixed;
  z-index: 99999;
  max-height: 0;
  min-height: 0;
  width: 0;
  overflow: hidden;
  right: 0;
  bottom: 0;
  border-radius: 100vw 0 0 0;
  padding: 1rem 0;
  background: white;
  opacity: 1;
  box-shadow: 0 0 10rem 1rem rgba(0, 0, 0, 0.2);
  transition: border-radius 0.5s cubic-bezier(0.5, 0, 0, 1) ,  width 0.5s cubic-bezier(0.5, 0, 0, 1) ,  max-height 0.5s cubic-bezier(0.5, 0, 0, 1) ,  min-height 0.5s cubic-bezier(0.5, 0, 0, 1) ,  height 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.bgdpr-on .quick_template .bgdpr-view-wrapper {
  right: 0;
  bottom: 0;
  opacity: 1;
  border-radius: 0;
  width: 100%;
  max-height: 30%;
  min-height: 11rem;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-wrapper {
  min-height: calc(100% - 4rem);
  max-height: calc(100% - 4rem);
}

.quick_template .bgdpr-view {
  height: calc(30vh - 4rem);
  min-height: 11rem;
  padding: 0 2rem;
  width: calc(100% - 4rem);
  overflow: hidden;
  color: black;
  background: white;
  opacity: 0;
  transition: max-height 0.5s cubic-bezier(0.5, 0, 0, 1) ,  opacity 0.5s cubic-bezier(0.5, 0, 0, 1);
  transition-delay: 0s;
}

.bgdpr-on .quick_template .bgdpr-view {
  transition-delay: 0.3s;
  opacity: 1;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view {
  max-height: calc(100vh - 4rem);
  height: auto;
}

.quick_template .bgdpr-view-hide {
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1) ,  top 0.5s cubic-bezier(0.5, 0, 0, 1);
  cursor: pointer;
}

.quick_template .bgdpr-view-hide:hover {
  transform: scale(1.3);
}

.quick_template .bgdpr-view-content {
  max-width: 60rem;
  margin: 0 auto;
}

.quick_template .bgdpr-view-content-title {
  font-size: 2rem;
  margin: 0 2rem 1rem 0;
  line-height: initial;
}

.quick_template .bgdpr-view-main {
  display: flex;
  height: calc(30vh - 4rem);
  min-height: 11rem;
}

.quick_template .bgdpr-view-main .title {
  font-size: 2rem;
  margin-bottom: 2rem;
  flex-shrink: 0;
}

.quick_template .bgdpr-view-head {
  overflow: auto;
  max-height: 100%;
  flex-grow: 1;
}

.quick_template .bgdpr-view-head button {
  display: block;
  margin: 1rem 0 0 0;
  white-space: nowrap;
}

.quick_template .bgdpr-view-quick {
  flex-grow: 1;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
}

.quick_template .bgdpr-view-quick .action {
  flex-grow: 1;
}

.quick_template .bgdpr-view-quick button {
  margin: 0.5rem 1rem;
  width: calc(100% - 2rem);
  white-space: nowrap;
}

.quick_template .bgdpr-view-quick [data-bgdpr-view-toggle-detail] {
  border: none;
}

.quick_template .bgdpr-view-quick [data-bgdpr-view-toggle-detail]:hover {
  box-shadow: none;
  background: none;
  text-decoration: underline;
}

.quick_template .bgdpr-view-quick [data-bgdpr-all-enable=accept_all] {
  font-size: 1rem;
  padding: 1rem 2rem 1rem 4rem;
  position: relative;
}

.quick_template .bgdpr-view-quick [data-bgdpr-all-enable=accept_all] svg {
  position: absolute;
  top: calc(50% - 1rem);
  left: 1rem;
  height: 2rem;
}

.quick_template .bgdpr-view-quick [data-bgdpr-all-enable=accept_all] svg rect {
  fill: black;
  transition: fill 0.3s ease;
}

.quick_template .bgdpr-view-quick [data-bgdpr-all-enable=accept_all]:hover svg rect {
  fill: black;
}

.quick_template .bgdpr-view-detail {
  border-top: 0px solid transparent;
  height: auto;
  overflow: hidden;
  opacity: 1;
  margin: 1rem auto 1rem -2rem;
  padding-top: 0rem;
  max-width: 40rem;
  display: flex;
  flex-wrap: wrap;
  transition: margin-top 0.5s cubic-bezier(0.5, 0, 0, 1) ,  padding-top 0.5s cubic-bezier(0.5, 0, 0, 1) ,  border-top 0.5s cubic-bezier(0.5, 0, 0, 1) ,  opacity 0.5s cubic-bezier(0.5, 0, 0, 1);
  transition-delay: 0s, 0s, 0s, 0.3s;
}

.quick_template .bgdpr-view-detail .line-content .title {
  font-size: 1.2rem;
  padding: 0.8rem 0 0.5rem 2rem;
  margin: 0;
  cursor: pointer;
}

.quick_template .bgdpr-view-detail .line-content .sec {
  display: none;
}

.quick_template .bgdpr-view-detail .quick_template .bgdpr-view-detail-save {
  display: block;
  padding: 0.7rem 2rem;
}

.bgdpr-on.bgdpr-detail {
  overflow: hidden;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-wrapper {
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  bottom: 0;
  min-height: 0;
  transition: height 0.5s cubic-bezier(0.5, 0, 0, 1) ,  max-height 0.5s cubic-bezier(0.5, 0, 0, 1) ,  min-height 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view {
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  transition: height 0.5s cubic-bezier(0.5, 0, 0, 1) ,  max-height 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-content {
  max-width: none;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-main {
  flex-direction: column !important;
  max-height: calc(100vh);
  min-height: 100vh;
  width: 100%;
  max-width: none;
  transition: min-height 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-head {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: auto;
  padding: 0;
  width: 100%;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-head .head-wrapper {
  padding: 2rem;
  max-width: 60rem;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-head .head-wrapper {
    padding: 3rem 1rem 0 1rem;
  }
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-detail {
  border-top: 1px solid black;
  opacity: 1;
  height: auto;
  margin: 2rem auto;
  width: calc(100% - 2rem);
  padding-top: 2rem;
  display: block;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-detail .line {
  padding: 1rem;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-detail .line-accept {
  right: 1rem;
  top: 1rem;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-detail .line-content .title {
  padding: 0.5rem 0;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-detail .line-content .sec {
  display: block;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-quick {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  width: 60rem;
  margin: auto;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-quick .action {
  width: 100%;
  display: flex;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-quick [data-bgdpr-all-enable=accept_all],
.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-quick [data-bgdpr-view-hide] {
  width: calc(50% - 1.2rem);
  margin: 0.5rem;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-group-name {
  font-size: 1.4rem;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-group-name:after {
  content: "";
  display: block;
  width: 3rem;
  margin-top: 1rem;
  border-bottom: 1px solid black;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-group-description {
  font-size: 0.9rem;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-group-services .line {
  position: relative;
  padding-left: 2rem;
  transition: padding 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-group-services .line:before {
  content: "";
  width: 0.5rem;
  border-top: 1px solid black;
  height: calc(100% - 1rem);
  position: absolute;
  left: 1rem;
  top: 2rem;
  transition: width 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-group-services .line:hover {
  padding-left: 3rem;
}

.bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-group-services .line:hover:before {
  width: 1.5rem;
}

.bgdpr-on.bgdpr-detail .quick_template [data-bgdpr-view-group] {
  padding: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .bgdpr-on.bgdpr-detail .quick_template [data-bgdpr-view-group] {
    padding: 1rem 0;
  }
}

.bgdpr-placeholder {
  padding: 1rem;
}

.bgdpr-placeholder button {
  margin-left: 0;
}

@media screen and (max-width: 800px) {
  .quick_template .bgdpr-view-hide {
    display: none;
  }

  .bgdpr-on .quick_template .bgdpr-view-wrapper,
  .quick_template .bgdpr-view-main,
  .quick_template .bgdpr-view {
    height: 30vh;
    min-height: 20rem;
  }

  .quick_template .bgdpr-view-wrapper {
    padding: 0;
    bottom: 0;
  }

  .bgdpr-on .quick_template .bgdpr-view-wrapper {
    max-height: 100vh;
  }

  .quick_template .bgdpr-view {
    padding: 0;
    width: 100%;
  }

  .quick_template .bgdpr-view-main {
    flex-direction: column;
    justify-content: flex-end;
    max-height: 30rem;
    overflow: hidden;
  }

  .bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-main {
    max-height: none;
    overflow: auto;
  }

  .quick_template .bgdpr-view-head {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
    padding: 1rem 1rem 0 1rem;
  }

  .bgdpr-detail.bgdpr-on .quick_template .bgdpr-view-head {
    width: calc( 100% - 1rem);
  }

  .quick_template .bgdpr-view-head button {
    width: calc(100% - 4rem);
    margin: 1rem 2rem;
  }

  .bgdpr-on.bgdpr-detail .quick_template .bgdpr-view-head {
    flex-shrink: unset;
  }

  .quick_template .bgdpr-view-quick {
    width: 100%;
    flex-shrink: 0;
    margin: 0;
    flex-wrap: wrap-reverse;
    display: flex;
    flex-direction: row-reverse;
  }

  .quick_template .bgdpr-view-quick .action {
    width: 100%;
    display: flex;
    margin: 0 1rem 1rem 1rem;
  }

  .quick_template .bgdpr-view-quick [data-bgdpr-all-enable=accept_all],
  .quick_template .bgdpr-view-quick [data-bgdpr-view-hide] {
    width: calc(50% - 1.2rem);
    margin: 0.5rem;
  }
}

@media screen and (max-width: 800px) and (max-width: 360px) {
  .quick_template .bgdpr-view-quick [data-bgdpr-all-enable=accept_all] {
    padding: 1rem;
  }

  .quick_template .bgdpr-view-quick [data-bgdpr-all-enable=accept_all] svg {
    display: none;
  }
}

